<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.mapper.MessageCustomMapper" >
  <select id="getMessagesByPage" parameterType="map" resultType="com.blog.po.Message">
  	SELECT
  		m.id,
		m.username,
		m.userphoto,
		m.message,
		m.created
	FROM
		message m
	ORDER BY
		created DESC
	LIMIT #{start},#{pageSize}
  </select>
  
  <select id="getMessagesCount" resultType="int">
  	SELECT count(id)
	FROM message
  </select>
  
</mapper>